<!DOCTYPE html>
<html>
  <head>
    <title>Fit Trackr</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
  </head>
  <body>
    <header class="header">
        <% if (user) { %>
          <img src="<%= user.avatar %>" alt="user picture" class="avatar">
        <% } %>
        <h2>Fit Trackr</h2>
        <nav class="nav_links">

          <ul>

            <li><a href="/">Home</a></li>

            <% if (user) { %>

              <li><a href="/routines">Go to Routines</a></li>

              <li><a href="/logout">Logout</a></li>
              <% } else {%>

              <li><a href="/auth/google">Login</a></li>
              
              <% } %>

          </ul>

        </nav>
      </header>
    <h1><%= title %></h1>
