<%- include('./partials/header') %>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae sed quasi itaque, at, earum deleniti, recusandae possimus natus dignissimos fugiat repellat explicabo fugit nam impedit accusamus. Voluptas expedita officia iste!
    Neque, explicabo voluptas et dolorum suscipit maiores dignissimos velit fuga accusantium. Aut sit deleniti minima sunt rem consectetur quaerat cum tempore maiores velit, reiciendis enim consequatur, adipisci aperiam modi. Enim.
    Praesentium iste porro similique! Nisi, error quia. Obcaecati nisi ducimus reiciendis eaque dicta commodi earum id nobis? Cumque eum pariatur iure rem blanditiis amet quasi quia cum repellendus, aperiam veniam?
    Laudantium rem, repellendus temporibus quod hic aliquam molestias quis ducimus ea in porro autem repellat tenetur adipisci. Rerum voluptatibus ut fugiat aspernatur repudiandae, beatae explicabo aliquam consectetur iste assumenda dolores.
    Impedit voluptate quos voluptatem corporis ea iusto quas placeat sint odio mollitia est repudiandae, aperiam, corrupti cumque tenetur provident, molestiae ducimus alias natus a! Atque quidem vitae laborum laudantium rerum.
    Deleniti maxime explicabo eum reiciendis eaque natus ipsa esse non accusantium aliquam eos fugiat perspiciatis ullam necessitatibus numquam pariatur, error, saepe iusto molestiae nihil illum suscipit dolores? Hic, reiciendis error!</p>

    <img src="/images/logo.png" alt="Fit Trackr Logo">
<%- include('./partials/footer') %>