<%- include('../partials/header') %>

  <!-- check if any available workouts -->
    <!-- if (workouts.length)  -->
    <div class="container">

        <form action="/routines/create" method="POST">

            
            <label class="name_label" for="name">Routine Name:<input class="name_input" type="text" name="routineName" required></label>
            <label class="add_label" for="routines">Select Routines To Add:</label>
            <select name="workouts" id="workouts" required multiple>

                <% workouts.forEach(w => { %>
                    <option value="<%= w._id %>"><%= w.name %></option>
                <% }) %>

            </select>
            
            <input type="submit" value="Submit">
        </form>

    </div>

    <a href="/workouts">Add Workout</a>

<%- include('../partials/footer') %>
